

body {
    background-color: white;
}


.published-title {

    color: white;
    color: #00a99d;
    color: #28282B;
    color: black;
    font-weight: 500;
    font-size: 3em;
    line-height: 86%;
}

.imgg {

    height: 100%;
    width: 70%;
    margin: 0;
    /* background-color: ; */
}

.blogImg {
    height: 100%;
    width: 100%;
}

.rightel {
    height: 13rem;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;
    margin-top: 2rem;
    padding: 0;

}

.rightel h2 {
    font-size: 16px;

}

.rightel .descc {
    font-weight: normal;
    font-size: 1rem;
    color: rgb(34, 33, 33);
    /* color: white; */

}

.rightel .author {
    /* color:grey;
     */
    color: black;

    font-weight: 600;

    align-self: flex-start;
    justify-self: flex-start;
    margin-top: 1em;


}