.navbar {
    position: fixed;
    height: 4rem;
    width: 100vw;
    display: flex;
    background-color: #1E2952;
    /* background-color: #000000CC; */
    color: #1D1D1F;

    justify-content: space-between;
    z-index: 2;


}
.sidebar-items{
    display: none;
}

.leftItems {
    display: flex;
    margin: 4px;
    /* background-color: blue; */
}

.rightItems {
    display: flex;
    width: 28rem;

    justify-content: center;
    margin: 4px;
}

.navItems {
    width: 6rem;


    font-size: large;
color: silver;


    justify-self: center;
    align-self: center;
    /* background-color: red; */


}

.logo {
    margin-right: 40px;
    height: 120%;
    width: 8rem;
    cursor: pointer;
    /* background-color: red; */
}

.rightItems .navItems {
    width: 15rem;

}

.rightItems .search {
    width: 6rem;
}

::-webkit-scrollbar {
    width: 0px;
}

body {



    background-image: linear-gradient(#002D62, #171717);
    /* height: 100vh; */



}
.ham{
    display: none;
}


.container {
    position: fixed;
    margin-top: 13px;
    display: flex;
    overflow-x: scroll;
    width: 100%;
    height: 35rem;
    top: 4rem;
    z-index: -3;

}

.card {
    flex-shrink: 0;
    display: flex;
    width: 50rem;

    border-radius: 10px;
    margin-left: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: -3;

}

.card-body {

    height: 100%;

    width: 50%;
    justify-self: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: -3;
}

.image {
    width: 50%;

    height: 100%;
    object-fit: contain;
    z-index: -3;

}

.card-img-top {
    height: 100%;
    width: 100%;
    border-radius: 5%;
    z-index: -3;

}

.heading {
    font-size: 40px;
    margin-bottom: 40px;
    margin-left: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 550;
    z-index: -3;
    background-image: linear-gradient(90deg, black,gold,black);
    -webkit-background-clip: text;

    background-clip: text;

    color: transparent;


}

.desc {
    font-size: larger;
    margin-bottom: 90px;
    margin-left: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    background-image: linear-gradient(90deg, black,gold);
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    z-index: -3;
}

.all-below {
    background-color: green;
    position: absolute;
    height: 100rem;
    width: 100%;
    top: 40rem;
    z-index: 1;
    display: flex;
    flex-direction: column;

}

.description {
    background-image: radial-gradient(farthest-corner at 0.5% 50%, purple, #020B2B);
    height: 30rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    justify-items: center;
    flex-wrap: wrap;



}

.desc-img {

    height: 25rem;
    width: 30rem;
    margin: 10px;


}

.desc-text {
    margin: 10px;

    height: 27rem;
    width: 38rem;
    display: flex;



    flex-direction: column;
    justify-items: center;
    align-items: center;



}

.para {



    margin-left: 10px;
    margin-right: 10px;
    color: white;
    justify-self: center;
    align-self: center;
    margin-bottom: 30px;
    margin-top: 0px;

}

.button {
    background-color: white;
    height: 10%;
    width: 20%;
    border-radius: 6%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

@media (max-width:1127px) {
    .description {
        height: 60rem;
    }

    .desc-img {
        width: 30rem;
    }

}

.group-photo {
    height: 98%;
    width: 100%;

    border-radius: 4%;

}

.about-us {
    font-size: 30px;
    font-weight: bolder;
    /* background-image: linear-gradient(90deg, blue, red);
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text; */
    color: white;
}

.btn-name {

    font-size: 20px;
    display: inline;
}

.community {
    height: 25rem;
    width: 100%;

    background-image: linear-gradient(#002D62, #171717);

    display: flex;


    flex-direction: column;

}

.community .title {
    font-size: 30px;
    margin-top: 10px;
    justify-self: center;
    align-self: center;
}

.community .programs {
    /* background-color:red; */
    height: 18rem;
    width: 100%;
    margin-top: 20px;


}




::-webkit-scrollbar {
    width: 0px;
}

.programs {
    display: flex;
    overflow-x: scroll;
    width: 100%;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
}

.cardd {
    flex-shrink: 0;
    width: 250px;
    height: 200px;
    border-radius: 10px;
    margin-left: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    margin-left: 50px;
    margin-right: 22rem;
}

.program-img {
    height: 100%;
    width: 100%;
}

@media (max-width:805px) {
    .navItems {
        display: none;
    }

    .logo {
        display: block;
        right: 45vw;
        margin-right: 0;
        width: 5rem;
        margin-right: 19vw;
    }
    .leftItems{
        align-self: center;
        justify-self: center;
        /* margin-left: 50vw; */
        margin-left: calc(42vw);
    }
    .navbar{
        justify-content:flex-end;
        /* align-items: center; */
    }
    .ham{
        display: flex;
        margin: 4px;
        /* background-color:grey; */

        height:55%;
     width:50px;
     min-width: 50px;

     cursor:pointer;
     flex-direction: column;
     justify-content: space-around;
     justify-items: center;
     align-items: center;

        
        /* justify-self: flex-start;
        align-self: flex-start; */
    }
    .f{
        /* margin: 2px; */

        height:12%;
        width: 70%;
        background-color:white;
        border-radius: 15%;
    }
    /* .open{
        background-color: red;

    }
    .open .f{
        background-color: blue;
        
        
    } */
    .open .f3{
        transform: rotate(45deg)translate(-10px,-7px);
        transition-duration: 0.6s;
    }
    .open .f1{
        transform: rotate(135deg)translate(6px,-2px);
        
        transition-duration: 0.6s;
    }
    .close .f3{
        transform: rotate(180deg)translate(0px,0px);
        transition-duration: 0.6s;
    }
    .close .f1{
        transform: rotate(180deg)translate(px,0px);
        
        transition-duration: 0.6s;
    }

    .open .f2{
        display: none;
    }
    .sidebarclose {
        position: absolute;
        background-color:blue;
        height: 30rem;
        width: 20rem;
        z-index: -1;
        top: 64px;
        left: -20rem;
        display: block;
        transform: translate(-26rem);
        animation-duration: 0.5s;
        /* z-index: 5; */
        

    }

    
    .sidebaropen {
        /* position: absolute; */
        position: fixed;
        z-index: 5;
         background-color:#1E2952;
         
         /* background-image: linear-gradient(blue,black); */
        height: 30rem;
        width: 12rem;
        /* z-index: 2; */
        top: 64px;
        
        display: block;
        transform: translate(0rem);
        transition-duration: 0.5s;
        border-bottom-right-radius: 8%;
        display: flex;
        flex-direction: column;



    }
    .sidebar-items{
        /* background-color: grey; */
        height: 10%;
        margin-bottom: 2px;
        display: flex;
        justify-content: center;
        cursor: pointer;
        

    }
    .sidebar-contents{
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
    }
    .sidebar-contents p{
        margin-left: 10px;
    }

    .sidebar-items:hover{
        background-color: #B6B6B4;
    }
    .sidebar-contents:hover{
        color: black;
    }
    /* .sidebar .open{
        left: 0px;
    } */

    
/* .open .f .f1{
    } */
    


}


