.formargin{
    position: absolute;
    margin-top: 15rem;

    height: 100rem;
    width: 100rem;
    display: flex;
    justify-content: center;
}
.each{
    height: 20rem;
    width: 20vw;
    background-color: green;
}