.formargin {
    position: absolute;
    margin-top: 15rem;

    height: 100rem;
    width: 100rem;
    display: flex;
    justify-content: center;
}

.each {
    position: absolute;

    width: 100vw;

    color: black;
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.bl {
    color: black;
    display: flex;
    font-display: column;
    align-items: center;
    justify-content: center;
}

.imgOfeachblog {
    display: flex;
    height: 40em;
    width: 90vw;



}

.imgOfeachblog img {
    object-fit: cover;
    margin: auto;
}