.formargin {
    position: absolute;
    /* background-color: red; */
    /* height: 30rem; */
    width: 100vw;
    margin-top: 10rem;
}

/* body {
    background-color: rgb(232, 235, 241);
} */

.oneblogs {
    /* margin-top: 10rem; */
    /* background-color: green; */
    /* height: 20rem; */
    width: 90vw;

    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding-left: 2rem; */
    /* padding-right: 2rem; */
}

.header {
    font-size: 3rem;
    font-weight: bold;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.shortintro {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.photos {
    height: 30rem;
    width: 80vw;
    /* background-color: pink; */
    margin-bottom: 5rem;
    /* object-fit:cover; */


}

.photos img {
    width: 100%;
    height: 100%;


}

.authoranddate {
    font-size: 1rem;
    margin-bottom: 1.5rem;
    font-weight: bold;

}

.maindesc {
    font-size: 1.3rem;
    margin-bottom: 10rem;
}

.cardbc {
    /* background-color: red; */
    /* height: 20em;
  width: 30em; */
    display: flex;

    justify-content: center;
    align-items: center;
    color: black;
    width: 40rem;
    cursor: pointer;

}

.blogcard:hover {
    scale: 1.01;
    border-radius: 5px;

}

.cardbc button {
    background-color: #1a9e95;
    height: 40px;
    width: 90px;
    box-shadow: none;
    border: none;
    border-radius: 10px;
    /* height:; */
    color: black;
    font-size: 15px;

}

.cardbc h3 {

    align-self: flex-end;
}

.allBlogs {
    /* background-color: green; */
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    margin-top: 10rem;
    align-items: center;
    justify-content: center;
    border-top: 1px solid grey;

}

.blogcard {

    margin-bottom: 3rem;

    display: flex;

    justify-content: center;
    padding: 10px;
    background-color: #28282B;
    color: white;

    background-color: black;

    background-color: white;
    border: 0.5px solid grey;
    width: 32rem;

;

}

.exceptimg {
    display: flex;
    flex-direction: column;
    width: 60%;
    /* align-items: center; */
    justify-content: center;
    padding: 10px;
}

.imgdiv {
    height: 20rem;
    /* width: 50rem; */
    /* width: 40%; */
    background-color: red;
    /* display: flex; */
    /* justify-content: center;
    align-items: center;
     */

}

.namedate {
    /* display: inline;
    flex-direction: column; */



    /* height: max-content; */

}

.cardbc h2 {
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.cardbc date {
    font-size: small;
    font-style: italic;
}
